<?xml version="1.0"?>
<config>
    <modules>
        <Dathent_ShoppingCart>
            <version>0.1</version>
        </Dathent_ShoppingCart>
    </modules>
    <global>
        <!--
        <helpers>
            <shoppingcart>
                <class>Dathent_ShoppingCart_Helper</class>
            </shoppingcart>
        </helpers>-->
        <models>
            <shoppingcart>
                <class>Dathent_ShoppingCart_Model</class>
            </shoppingcart>
        </models>
        <resources>
            <Dathent_ShoppingCart_setup>
                <setup>
                    <module>Dathent_ShoppingCart</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Dathent_ShoppingCart_setup>
            <Dathent_ShoppingCart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Dathent_ShoppingCart_write>
            <Dathent_ShoppingCart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Dathent_ShoppingCart_read>
        </resources>
        <events>
            <customer_save_before>
                <observers>
                    <shoppingcart>
                        <class>shoppingcart/observer</class>
                        <method>checkPartner</method>
                    </shoppingcart>
                </observers>
            </customer_save_before>
        </events>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Dathent_ShoppingCart before="Mage_Checkout">Dathent_ShoppingCart</Dathent_ShoppingCart>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <shoppingcart>
                    <file>shoppingcart.xml</file>
                </shoppingcart>
            </updates>
        </layout>
    </frontend>
</config>